[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
pylint = "*"
neovim = "*"
jedi = "*"

[packages]
requests = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
